/* CustomCarousel.css */

/* Estilos para los elementos del carrusel */
.carouselitem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 1px solid #ccc;
  }
  
  /* Estilo para el elemento del carrusel del medio */
  .red {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 1px solid #ccc;
    background-color: red;
  }
  